@import "~bootstrap/scss/bootstrap";

$backgroud: #f8f6f6;

.centered-container {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding: 3em;
    background: $backgroud;
    border-radius: 5px;
}
